body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  letter-spacing: .03em;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 1.3em;
  letter-spacing: .03em;
  line-height: 1.5;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

.twelve.columns {
  margin-bottom: 40px;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  color: #9b9b9b;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #ffffff;
  border: 1px #9b9b9b solid;
  border-radius: 0;
  line-height: 38px;
  height: 38px;
  width: 240px;
}

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
  background-color: #ff5722;
  color: #ffffff;
  border: 1px #ff5722 solid;
}

.hero {
  background-color: #ffffff;
  color: #4A4A4A;
  margin-top: 80px;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
